{% extends 'base.html' %}
{% block content-title %}
    <h1>Logged Out</h1>
{% endblock %}

{% block main-content %}
    <a href="{% url 'login' %}">Click here to login again.</a>
{% endblock %}