{% extends 'base.html' %}
{% block content-title %}
    <h1>Reset Password</h1>
{% endblock %}
{% block main-content %}
    <form action="" method="post">{% csrf_token %}
        {{ form.email.errors }}
        <div class="form-row align-items-center">
            <div class=" form-group col-auto">
                <label for="{{ form.email.id_for_label }}">Email</label>{{ form.email }}
            </div>
        </div>
        <input type="submit" value="Reset Password"/>
    </form>
{% endblock %}