{% extends 'base.html' %}
{% block content-title %}
    <h1>Confirmation Email Sent.</h1>
{% endblock %}
{% block main-content %}

    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your
        spam folder.</p>

{% endblock %}