{% extends "base.html" %}
{% block content-title %}
    <h1>Password Change</h1>
{% endblock %}
{% block main-content %}

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {{ form.non_field_errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="form-row align-items-center">
                <div class="form-group col-auto">
                    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>{{ form.new_password1 }}
                </div>
                <div class="form-group col-auto">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label>{{ form.new_password2 }}
                </div>
            </div>

            <input type="submit" value="Change my password"/>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}

{% endblock %}