{% extends 'base.html' %}
{% block content-title %}
    <h1>Password Reset Complete</h1>
{% endblock %}
{% block main-content %}
    <h1>The password has been changed!</h1>
    <p><a href="{% url 'login' %}">log in again?</a></p>
{% endblock %}