{% extends 'base.html' %}
<!--ToDo Work on Front end -->
{% block content-title %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block main-content %}
    {% if checkin_list %}
        <form action="" method="post" id="checkout">{% csrf_token %}
            {{ form }}
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Check-In</th>
                <th>Reservation</th>
                <th>Rooms</th>
                <th>Paid Amount</th>
                <th>Check-In Date Time</th>
                <th>Checkout?</th>
            </tr>
            </thead>
            <tbody>
            {% for check_in in checkin_list %}
                <tr>
                    <td>
                        <a href="{% url 'check_in-detail' check_in.id %}"> {{ check_in }}</a>
                    </td>
                    <td>{{ check_in.reservation }}</td>
                    <td>{% if check_in.rooms %}{{ check_in.rooms }}{% else %}-{% endif %}</td>
                    <td>{{ check_in.initial_amount }}</td>
                    <td>{{ check_in.check_in_date_time }}</td>
                    <td>
                        {% if not check_in.checkout %}
                            <button id="{{ check_in.id }}" type="button" class="btn btn-primary confirm-checkout"
                                    data-toggle="modal"
                                    data-target="#checkoutConfirmBox">
                                Checkout
                            </button>

                        {% else %}
                            <a class="btn btn-secondary"
                               href="{% url 'check_out-detail' check_in.checkout.id %}">Details</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="checkoutConfirmBox">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Checkout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h5>Do you want to confirm checkout?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" form="checkout">
                            Yes
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>There are no check-ins.</p>
    {% endif %}
    {% block additional-javascript %}
        <script>
            $(document).ready(function () {
                $(".confirm-checkout").click(function () {
                    var $id = $(this).attr("id");
                    $("#id_check_in").attr("value", "" + $id);
                });
            });
            /*
            $(document).ready(function () {
                $(".confirm-checkout").mouseleave(function () {
                    $("#id_check_in").removeAttr("value");
                });
            });
            */
        </script>
    {% endblock %}
{% endblock %}
