{% extends 'base.html' %}
{% block content-title %}
    <h1>Check-Out No: {{ checkout.id }}</h1>
{% endblock %}
<!-- TODO Work on FrontEnd -->
{% block main-content %}
    Check-In:
    <a href="{% url 'check_in-detail' checkout.check_in.id %}">{{ checkout.check_in }}</a> <br/>
    Stay Duration: {{ checkout.stay_duration }}<br/>
    Total Amount: {{ checkout.total_amount }}<br/>
    Pay Amount: {{ checkout.pay_amount }} <br/>
    Check-Out Date Time = {{ checkout.check_out_date_time }}<br/>
    Checked Out by:
    {% if staff.count == 0 %} {{ checkout.user }}{% else %}
        <a href="{% url 'staff-detail' staff.staff_id %}">{{ staff }}</a>
    {% endif %}
{% endblock %}