{% extends 'base.html' %}
{% block content-title %}
<h1>Access Denied</h1>
{% endblock %}
{% block main-content %}
    <strong>You don't have permissions to view this page.</strong>
{% endblock %}