{% extends 'base.html' %}
{% block content-title %}
    <h1>Page Not Found. (404 Error)</h1>
{% endblock %}
{% block main-content %}
    <p><strong>This is not the page you are looking for.</strong></p>
    <p>Click here to go to the homepage. <a href="{% url 'index' %}">Home</a> </p>
{% endblock %}